openapi: 3.0.1
info:
  contact:
    email: support@ably.io
    name: Ably Support
    url: https://www.ably.io/contact
    x-twitter: ablyrealtime
  description: "The [REST API specification](https://www.ably.io/documentation/rest-api)\
    \ for Ably."
  title: Platform API
  version: 1.1.0
  x-apisguru-categories:
  - cloud
  x-logo:
    url: https://twitter.com/ablyrealtime/profile_image?size=original
  x-origin:
  - format: openapi
    url: https://raw.githubusercontent.com/ably/open-specs/main/definitions/platform-v1.yaml
    version: "3.0"
  x-providerName: ably.io
  x-serviceName: platform
servers:
- url: https://rest.ably.io
security:
- basicAuth: []
- bearerAuth: []
paths:
  /channels:
    get:
      description: Enumerate all active channels of the application
      operationId: getMetadataOfAllChannels
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-get-parameters-0-schema
        style: form
      - description: Optionally limits the query to only those channels whose name
          starts with the given prefix
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          type: string
        style: form
      - description: optionally specifies whether to return just channel names (by=id)
          or ChannelDetails (by=value)
        explode: true
        in: query
        name: by
        required: false
        schema:
          enum:
          - value
          - id
          type: string
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema: {}
            application/x-msgpack:
              schema: {}
            text/html:
              schema:
                type: string
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          headers:
            link:
              $ref: '#/components/headers/Link'
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Enumerate all active channels of the application
      tags:
      - Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels
      x-accepts: application/json
  /channels/{channel_id}:
    get:
      description: Get metadata of a channel
      operationId: getMetadataOfChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetails'
          description: OK
          headers:
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Get metadata of a channel
      tags:
      - Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels-channel_id
      x-accepts: application/json
  /channels/{channel_id}/messages:
    get:
      description: Get message history for a channel
      operationId: getMessagesByChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Message'
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/Message'
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            text/html:
              schema:
                type: string
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          headers:
            link:
              $ref: '#/components/headers/Link'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
          x-do-not-generate: true
        default:
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Get message history for a channel
      tags:
      - History
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels-channel_id-messages
      x-accepts: application/json
    post:
      description: Publish a message to the specified channel
      operationId: publishMessagesToChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/Message'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publishMessagesToChannel_2XX_response'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/publishMessagesToChannel_2XX_response'
            text/html:
              schema:
                $ref: '#/components/schemas/publishMessagesToChannel_2XX_response'
          description: OK
          headers:
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Publish a message to a channel
      tags:
      - Publishing
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--channels-channel_id-messages
      x-content-type: application/json
      x-accepts: application/json
  /channels/{channel_id}/presence:
    get:
      description: Get presence on a channel
      operationId: getPresenceOfChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: connectionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-presence-get-parameters-3-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PresenceMessage'
                type: array
                x-konfig-is-used-in-successful-response: true
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/PresenceMessage'
                type: array
                x-konfig-is-used-in-successful-response: true
            text/html:
              schema:
                type: string
                x-konfig-is-used-in-successful-response: true
          description: OK
          headers:
            link:
              $ref: '#/components/headers/Link'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Get presence of a channel
      tags:
      - Status
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels-channel_id-presence
      x-accepts: application/json
  /channels/{channel_id}/presence/history:
    get:
      description: Get presence on a channel
      operationId: getPresenceHistoryOfChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
        explode: false
        in: path
        name: channel_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PresenceMessage'
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            application/x-msgpack:
              schema:
                items:
                  $ref: '#/components/schemas/PresenceMessage'
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            text/html:
              schema:
                type: string
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          headers:
            link:
              $ref: '#/components/headers/Link'
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Get presence history of a channel
      tags:
      - History
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--channels-channel_id-presence-history
      x-accepts: application/json
  /keys/{keyName}/requestToken:
    post:
      description: "This is the means by which clients obtain access tokens to use\
        \ the service. You can see how to construct an Ably TokenRequest in the [Ably\
        \ TokenRequest spec](https://www.ably.io/documentation/rest-api/token-request-spec)\
        \ documentation, although we recommend you use an Ably SDK rather to create\
        \ a TokenRequest, as the construction of a TokenRequest is complex. The resulting\
        \ token response object contains the token properties as defined in Ably TokenRequest\
        \ spec. Authentication is not required if using a Signed TokenRequest."
      operationId: requestAccessToken
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: "The [key name](https://www.ably.io/documentation/rest-api/token-request-spec#api-key-format)\
          \ comprises of the app ID and key ID of an API key."
        explode: false
        in: path
        name: keyName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              capability:
                channel1:
                - publish
                - subscribe
                wildcard:channels:*:
                - publish
              keyName: YourKey.Name
              timestamp: "1559124196551"
            schema: {}
            x-konfig-original-example:
              capability:
                channel1:
                - publish
                - subscribe
                wildcard:channels:*:
                - publish
              keyName: YourKey.Name
              timestamp: "1559124196551"
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/TokenDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Request an access token
      tags:
      - Authentication
      x-konfig-operation-can-have-single-parameter: false
      x-content-type: application/json
      x-accepts: application/json
  /push/channelSubscriptions:
    delete:
      description: Delete a device details object.
      operationId: deletePushDeviceDetails
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Filter to restrict to subscriptions associated with that channel.
        explode: true
        in: query
        name: channel
        required: false
        schema:
          type: string
        style: form
      - description: "Must be set when clientId is empty, cannot be used with clientId."
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          type: string
        style: form
      - description: "Must be set when deviceId is empty, cannot be used with deviceId."
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      responses:
        "2XX":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Delete a registered device's update token
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--push-channelSubscriptions
      x-accepts: application/json
    get:
      description: Get a list of push notification subscriptions to channels.
      operationId: getPushSubscriptionsOnChannels
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Filter to restrict to subscriptions associated with that channel.
        explode: true
        in: query
        name: channel
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that deviceId.
          Cannot be used with clientId.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that clientId.
          Cannot be used with deviceId.
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          maximum: 1000
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--push-channelSubscriptions-get-parameters-3-schema
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: List channel subscriptions
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--push-channelSubscriptions
      x-accepts: application/json
    post:
      description: Subscribe either a single device or all devices associated with
        a client ID to receive push notifications from messages sent to a channel.
      operationId: subscribePushDeviceToChannel
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              channel: my:channel
              clientId: myClientId
            schema: {}
            x-konfig-original-example:
              channel: my:channel
              clientId: myClientId
          application/x-msgpack:
            example:
              channel: my:channel
              clientId: myClientId
            schema: {}
            x-konfig-original-example:
              channel: my:channel
              clientId: myClientId
          application/x-www-form-urlencoded:
            example:
              channel: my:channel
              clientId: myClientId
            schema: {}
            x-konfig-original-example:
              channel: my:channel
              clientId: myClientId
      responses:
        "2XX":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Subscribe a device to a channel
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--push-channelSubscriptions
      x-content-type: application/json
      x-accepts: application/json
  /push/channels:
    get:
      description: Returns a paginated response of channel names.
      operationId: getChannelsWithPushSubscribers
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            application/x-msgpack:
              schema:
                items:
                  type: string
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            text/html:
              schema:
                items:
                  type: string
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: List all channels with at least one subscribed device
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--push-channels
      x-accepts: application/json
  /push/deviceRegistrations:
    delete:
      description: Unregisters devices. All their subscriptions for receiving push
        notifications through channels will also be deleted.
      operationId: unregisterAllPushDevices
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that deviceId.
          Cannot be used with clientId.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that clientId.
          Cannot be used with deviceId.
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      responses:
        "2XX":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Unregister matching devices for push notifications
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--push-deviceRegistrations
      x-accepts: application/json
    get:
      description: List of device details of devices registed for push notifications.
      operationId: getRegisteredPushDevices
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that deviceId.
        explode: true
        in: query
        name: deviceId
        required: false
        schema:
          type: string
        style: form
      - description: Optional filter to restrict to devices associated with that clientId.
        explode: true
        in: query
        name: clientId
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of records to return.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          maximum: 1000
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--push-deviceRegistrations-get-parameters-2-schema
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: List devices registered for receiving push notifications
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations
      x-accepts: application/json
    post:
      description: "Register a device’s details, including the information necessary\
        \ to deliver push notifications to it. Requires \"push-admin\" capability."
      operationId: registerPushDevice
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Register a device for receiving push notifications
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--push-deviceRegistrations
      x-content-type: application/json
      x-accepts: application/json
  /push/deviceRegistrations/{device_id}:
    delete:
      description: Unregisters a single device by its device ID. All its subscriptions
        for receiving push notifications through channels will also be deleted.
      operationId: unregisterPushDevice
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Device's ID.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "2XX":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Unregister a single device for push notifications
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--push-deviceRegistrations-device_id
      x-accepts: application/json
    get:
      description: Get the full details of a device.
      operationId: getPushDeviceDetails
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Device's ID.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Get a device registration
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations-device_id
      x-accepts: application/json
    patch:
      description: "Specific attributes of an existing registration can be updated.\
        \ Only clientId, metadata and push.recipient are mutable."
      operationId: patchPushDeviceDetails
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Device's ID.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Update a device registration
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--push-deviceRegistrations-device_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Device registrations can be upserted (the existing registration\
        \ is replaced entirely) with a PUT operation. Only clientId, metadata and\
        \ push.recipient are mutable."
      operationId: putPushDeviceDetails
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Device's ID.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeviceDetails'
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Update a device registration
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--push-deviceRegistrations-device_id
      x-content-type: application/json
      x-accepts: application/json
  /push/deviceRegistrations/{device_id}/resetUpdateToken:
    get:
      description: Gets an updated device details object.
      operationId: updatePushDeviceDetails
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - description: Device's ID.
        explode: false
        in: path
        name: device_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "2XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
            text/html:
              schema:
                $ref: '#/components/schemas/DeviceDetails'
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Reset a registered device's update token
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations-device_id-resetUpdateToken
      x-accepts: application/json
  /push/publish:
    post:
      description: A convenience endpoint to deliver a push notification payload to
        a single device or set of devices identified by their client identifier.
      operationId: publishPushNotificationToDevices
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/publishPushNotificationToDevices_request'
          application/x-msgpack:
            schema:
              $ref: '#/components/schemas/publishPushNotificationToDevices_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/publishPushNotificationToDevices_request'
      responses:
        "2XX":
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Publish a push notification to device(s)
      tags:
      - Push
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--push-publish
      x-content-type: application/json
      x-accepts: application/json
  /stats:
    get:
      description: "The Ably system can be queried to obtain usage statistics for\
        \ a given application, and results are provided aggregated across all channels\
        \ in use in the application in the specified period. Stats may be used to\
        \ track usage against account quotas."
      operationId: getStats
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        style: form
      - explode: true
        in: query
        name: end
        required: false
        schema:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        style: form
      - explode: true
        in: query
        name: direction
        required: false
        schema:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
        style: form
      - description: Specifies the unit of aggregation in the returned results.
        explode: true
        in: query
        name: unit
        required: false
        schema:
          default: minute
          enum:
          - minute
          - hour
          - day
          - month
          example: minute
          type: string
          x-konfig-original-example: minute
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-get-parameters-4-schema
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                type: object
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      summary: Retrieve usage statistics for an application
      tags:
      - Stats
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--stats
      x-accepts: application/json
  /time:
    get:
      description: This returns the service time in milliseconds since the epoch.
      operationId: getTime
      parameters:
      - description: The version of the API you wish to use.
        explode: false
        in: header
        name: X-Ably-Version
        required: false
        schema:
          type: string
        style: simple
      - description: The response format you would like
        explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - jsonp
          - msgpack
          - html
          type: string
        style: form
      responses:
        "2XX":
          content:
            application/json:
              schema:
                items:
                  type: integer
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            application/x-msgpack:
              schema:
                items:
                  type: integer
                type: array
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
            text/html:
              schema:
                type: string
                x-konfig-is-used-in-non-successful-response: true
                x-do-not-generate: true
          description: OK
          x-do-not-generate: true
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/x-msgpack:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
          headers:
            x-ably-errorcode:
              $ref: '#/components/headers/ErrorCode'
            x-ably-errormessage:
              $ref: '#/components/headers/ErrorMessage'
            x-ably-serverid:
              $ref: '#/components/headers/ServerId'
      security: []
      summary: Get the service time
      tags:
      - Stats
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--time
      x-accepts: application/json
components:
  headers:
    ErrorCode:
      description: The error code.
      explode: false
      schema:
        type: integer
      style: simple
    ErrorMessage:
      description: The error message.
      explode: false
      schema:
        type: string
      style: simple
    Link:
      description: "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5).\
        \ This will potentially include a link with relation type `next`, `first`,\
        \ and `current`, where appropiate."
      explode: false
      required: true
      schema:
        pattern: "(<(.*)?>; rel=\\\"(first|current|last)?\\\",)*(<(.*)?>; rel=\\\"\
          (first|current|last)?\\\")+"
        type: string
      style: simple
    ServerId:
      description: The ID for the server communicated with.
      explode: false
      required: true
      schema:
        type: string
      style: simple
  parameters:
    channelId:
      description: "The [Channel's ID](https://www.ably.io/documentation/rest/channels)."
      explode: false
      in: path
      name: channel_id
      required: true
      schema:
        type: string
      style: simple
    deviceId:
      description: Device's ID.
      explode: false
      in: path
      name: device_id
      required: true
      schema:
        type: string
      style: simple
    filterDirection:
      explode: true
      in: query
      name: direction
      required: false
      schema:
        default: backwards
        enum:
        - forwards
        - backwards
        example: backwards
        type: string
        x-konfig-original-example: backwards
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
      style: form
    filterEnd:
      explode: true
      in: query
      name: end
      required: false
      schema:
        default: now
        example: now
        type: string
        x-konfig-original-example: now
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
      style: form
    filterLimit:
      explode: true
      in: query
      name: limit
      required: false
      schema:
        example: 100
        type: integer
        x-konfig-original-example: "100"
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
      style: form
    filterStart:
      explode: true
      in: query
      name: start
      required: false
      schema:
        type: string
      style: form
    key_name:
      description: "The [key name](https://www.ably.io/documentation/rest-api/token-request-spec#api-key-format)\
        \ comprises of the app ID and key ID of an API key."
      explode: false
      in: path
      name: keyName
      required: true
      schema:
        type: string
      style: simple
    responseFormat:
      description: The response format you would like
      explode: true
      in: query
      name: format
      required: false
      schema:
        enum:
        - json
        - jsonp
        - msgpack
        - html
        type: string
      style: form
    versionHeader:
      description: The version of the API you wish to use.
      explode: false
      in: header
      name: X-Ably-Version
      required: false
      schema:
        type: string
      style: simple
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
        application/x-msgpack:
          schema:
            $ref: '#/components/schemas/Error'
        text/html:
          schema:
            $ref: '#/components/schemas/Error'
      description: Error
      headers:
        x-ably-errorcode:
          $ref: '#/components/headers/ErrorCode'
        x-ably-errormessage:
          $ref: '#/components/headers/ErrorMessage'
        x-ably-serverid:
          $ref: '#/components/headers/ServerId'
  schemas:
    ChannelDetails:
      example:
        isGlobalMaster: true
        region: region
        channelId: channelId
        status:
          occupancy:
            presenceMembers: 6
            presenceSubscribers: 1
            subscribers: 5
            publishers: 5
            presenceConnections: 0
          isActive: true
      properties:
        channelId:
          description: "The required name of the channel including any qualifier,\
            \ if any."
          type: string
        isGlobalMaster:
          description: "In events relating to the activity of a channel in a specific\
            \ region, this optionally identifies whether or not that region is responsible\
            \ for global coordination of the channel."
          type: boolean
        region:
          description: "In events relating to the activity of a channel in a specific\
            \ region, this optionally identifies the region."
          type: string
        status:
          $ref: '#/components/schemas/ChannelStatus'
      required:
      - channelId
      type: object
      x-konfig-is-used-in-successful-response: true
    ChannelStatus:
      description: A ChannelStatus instance.
      example:
        occupancy:
          presenceMembers: 6
          presenceSubscribers: 1
          subscribers: 5
          publishers: 5
          presenceConnections: 0
        isActive: true
      properties:
        isActive:
          description: "A required boolean value indicating whether the channel that\
            \ is the subject of the event is active. For events indicating regional\
            \ activity of a channel this indicates activity in that region, not global\
            \ activity."
          type: boolean
        occupancy:
          $ref: '#/components/schemas/Occupancy'
      required:
      - isActive
      type: object
    DeviceDetails:
      example:
        deviceSecret: deviceSecret
        metadata: "{}"
        clientId: clientId
        formFactor: phone
        push.recipient:
          registrationToken: registrationToken
          clientId: clientId
          transportType: apns
          deviceId: deviceId
          deviceToken: deviceToken
        id: id
        push.state: Active
        platform: ios
      properties:
        clientId:
          description: Optional trusted client identifier for the device.
          type: string
        deviceSecret:
          description: Secret value for the device.
          type: string
        formFactor:
          description: Form factor of the push device.
          enum:
          - phone
          - tablet
          - desktop
          - tv
          - watch
          - car
          - embedded
          type: string
        id:
          description: Unique identifier for the device generated by the device itself.
          type: string
        metadata:
          description: Optional metadata object for this device. The metadata for
            a device may only be set by clients with push-admin privileges and will
            be used more extensively in the future with smart notifications.
          type: object
        platform:
          description: Platform of the push device.
          enum:
          - ios
          - android
          type: string
        push.recipient:
          $ref: '#/components/schemas/Recipient'
        push.state:
          description: the current state of the push device.
          enum:
          - Active
          - Failing
          - Failed
          readOnly: true
          type: string
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    Error:
      description: Returned error from failed REST.
      properties:
        code:
          description: Error code.
          type: integer
        href:
          description: Link to help with error.
          type: string
        message:
          description: Message explaining the error's cause.
          type: string
        serverId:
          description: Server ID with which error was encountered.
          type: string
        statusCode:
          description: Status error code.
          type: integer
      type: object
      x-konfig-is-used-in-successful-response: true
    Extras:
      description: "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example)\
        \ extra."
      example:
        push:
          fcm:
            notification:
              collapseKey: collapseKey
              sound: sound
              icon: icon
              body: body
              title: title
          notification:
            collapseKey: collapseKey
            sound: sound
            icon: icon
            body: body
            title: title
          data: data
          web:
            notification:
              collapseKey: collapseKey
              sound: sound
              icon: icon
              body: body
              title: title
          apns:
            notification:
              collapseKey: collapseKey
              sound: sound
              icon: icon
              body: body
              title: title
      properties:
        push:
          $ref: '#/components/schemas/Push'
      type: object
    Message:
      description: Message object.
      example:
        clientId: clientId
        data: data
        name: name
        connectionId: connectionId
        extras:
          push:
            fcm:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
            notification:
              collapseKey: collapseKey
              sound: sound
              icon: icon
              body: body
              title: title
            data: data
            web:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
            apns:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
        id: id
        encoding: encoding
        timestamp: 0
      properties:
        clientId:
          description: "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients)\
            \ of the publisher of this message."
          type: string
        connectionId:
          description: The connection ID of the publisher of this message.
          type: string
        data:
          description: "The string encoded payload, with the encoding specified below."
          type: string
        encoding:
          description: "This will typically be empty as all messages received from\
            \ Ably are automatically decoded client-side using this value. However,\
            \ if the message encoding cannot be processed, this attribute will contain\
            \ the remaining transformations not applied to the data payload."
          type: string
        extras:
          $ref: '#/components/schemas/Extras'
        id:
          description: "A Unique ID that can be specified by the publisher for [idempotent\
            \ publishing](https://www.ably.io/documentation/rest/messages#idempotent)."
          readOnly: true
          type: string
        name:
          description: "The event name, if provided."
          type: string
        timestamp:
          description: "Timestamp when the message was received by the Ably, as milliseconds\
            \ since the epoch."
          format: int64
          readOnly: true
          type: integer
      type: object
    Notification:
      example:
        collapseKey: collapseKey
        sound: sound
        icon: icon
        body: body
        title: title
      properties:
        body:
          description: Text below title on the expanded notification.
          type: string
        collapseKey:
          description: "Platform-specific, used to group notifications together."
          type: string
        icon:
          description: Platform-specific icon for the notification.
          type: string
        sound:
          description: Platform-specific sound for the notification.
          type: string
        title:
          description: Title to display at the notification.
          type: string
      type: object
    Occupancy:
      description: "An Occupancy instance indicating the occupancy of a channel. For\
        \ events indicating regional activity of a channel this indicates activity\
        \ in that region, not global activity."
      example:
        presenceMembers: 6
        presenceSubscribers: 1
        subscribers: 5
        publishers: 5
        presenceConnections: 0
      properties:
        presenceConnections:
          description: The number of connections that are authorised to enter members
            into the presence channel.
          type: integer
        presenceMembers:
          description: The number of members currently entered into the presence channel.
          type: integer
        presenceSubscribers:
          description: The number of connections that are authorised to subscribe
            to presence messages.
          type: integer
        publishers:
          description: The number of connections attached to the channel that are
            authorised to publish.
          type: integer
        subscribers:
          description: The number of connections attached that are authorised to subscribe
            to messages.
          type: integer
      type: object
    PresenceMessage:
      example:
        clientId: clientId
        data: data
        action: ABSENT
        connectionId: connectionId
        extras:
          push:
            fcm:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
            notification:
              collapseKey: collapseKey
              sound: sound
              icon: icon
              body: body
              title: title
            data: data
            web:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
            apns:
              notification:
                collapseKey: collapseKey
                sound: sound
                icon: icon
                body: body
                title: title
        id: id
        encoding: encoding
        timestamp: 0
      properties:
        action:
          description: The event signified by a PresenceMessage.
          enum:
          - ABSENT
          - PRESENT
          - ENTER
          - LEAVE
          - UPDATE
          readOnly: true
          type: string
        clientId:
          description: The client ID of the publisher of this presence update.
          type: string
        connectionId:
          description: The connection ID of the publisher of this presence update.
          type: string
        data:
          description: "The presence update payload, if provided."
          type: string
        encoding:
          description: "This will typically be empty as all presence updates received\
            \ from Ably are automatically decoded client-side using this value. However,\
            \ if the message encoding cannot be processed, this attribute will contain\
            \ the remaining transformations not applied to the data payload."
          type: string
        extras:
          $ref: '#/components/schemas/Extras'
        id:
          description: Unique ID assigned by Ably to this presence update.
          readOnly: true
          type: string
        timestamp:
          description: "Timestamp when the presence update was received by Ably, as\
            \ milliseconds since the epoch."
          format: int64
          readOnly: true
          type: integer
      type: object
    Push:
      example:
        fcm:
          notification:
            collapseKey: collapseKey
            sound: sound
            icon: icon
            body: body
            title: title
        notification:
          collapseKey: collapseKey
          sound: sound
          icon: icon
          body: body
          title: title
        data: data
        web:
          notification:
            collapseKey: collapseKey
            sound: sound
            icon: icon
            body: body
            title: title
        apns:
          notification:
            collapseKey: collapseKey
            sound: sound
            icon: icon
            body: body
            title: title
      properties:
        apns:
          $ref: '#/components/schemas/Push_apns'
        data:
          description: "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example)."
          type: string
        fcm:
          $ref: '#/components/schemas/Push_fcm'
        notification:
          $ref: '#/components/schemas/Notification'
        web:
          $ref: '#/components/schemas/Push_web'
      type: object
    Recipient:
      description: Push recipient details for a device.
      example:
        registrationToken: registrationToken
        clientId: clientId
        transportType: apns
        deviceId: deviceId
        deviceToken: deviceToken
      properties:
        clientId:
          description: Client ID of recipient
          type: string
          writeOnly: true
        deviceId:
          description: Client ID of recipient
          type: string
          writeOnly: true
        deviceToken:
          description: "when using APNs, specifies the required device token."
          type: string
        registrationToken:
          description: "when using GCM or FCM, specifies the required registration\
            \ token."
          type: string
        transportType:
          description: Defines which push platform is being used.
          enum:
          - apns
          - fcm
          - gcm
          type: string
      type: object
    SignedTokenRequest:
      allOf:
      - $ref: '#/components/schemas/TokenRequest'
      - $ref: '#/components/schemas/SignedTokenRequest_allOf'
    TokenDetails:
      example:
        capability: capability
        expires: 0
        keyName: keyName
        issued: 6
        token: token
      properties:
        capability:
          description: Regular expression representation of the capabilities of the
            token.
          type: string
        expires:
          description: Timestamp of token expiration.
          type: integer
        issued:
          description: Timestamp of token creation.
          type: integer
        keyName:
          description: Name of the key used to create the token
          type: string
        token:
          description: The Ably Token.
          type: string
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    TokenRequest:
      properties:
        capability:
          description: "The [capabilities](https://www.ably.io/documentation/core-features/authentication#capabilities-explained)\
            \ (i.e. a set of channel names/namespaces and, for each, a set of operations)\
            \ which should be a subset of the set of capabilities associated with\
            \ the key specified in keyName."
          example:
            channel1:
            - publish
            - subscribe
          type: object
          x-konfig-original-example:
            channel1:
            - publish
            - subscribe
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TokenRequest-properties-capability
        clientId:
          description: "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients)\
            \ to be assosciated with the token. Can be set to * to allow for any client\
            \ ID to be used."
          type: string
        keyName:
          description: Name of the key used for the TokenRequest. The keyName comprises
            of the app ID and key ID on an API Key.
          example: xVLyHw.LMJZxw
          type: string
          x-konfig-original-example: xVLyHw.LMJZxw
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TokenRequest-properties-keyName
        nonce:
          description: "An unquoted, un-escaped random string of at least 16 characters.\
            \ Used to ensure the Ably TokenRequest cannot be reused."
          type: string
        timestamp:
          description: Time of creation of the Ably TokenRequest.
          type: integer
      required:
      - capability
      - keyName
      - nonce
      - timestamp
      type: object
    konfig-generated-schema-paths--channels-get-parameters-0-schema:
      example: 100
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--channels-channel_id-presence-get-parameters-3-schema:
      example: 100
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--push-channelSubscriptions-get-parameters-3-schema:
      example: 100
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--push-deviceRegistrations-get-parameters-2-schema:
      example: 100
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--stats-get-parameters-4-schema:
      example: minute
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-parameters-filterDirection-schema:
      example: backwards
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-parameters-filterEnd-schema:
      example: now
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-parameters-filterLimit-schema:
      example: "100"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TokenRequest-properties-capability:
      example:
        channel1:
        - publish
        - subscribe
      properties:
        channel1:
          items:
            example: publish
            type: string
          type: array
      type: object
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TokenRequest-properties-keyName:
      example: xVLyHw.LMJZxw
      type: string
      x-do-not-generate: true
    konfig-generated-schema-single-parameter-schema-get--channels:
      properties:
        limit:
          default: 100
          example: 100
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-get-parameters-0-schema
        prefix:
          type: string
        by:
          enum:
          - value
          - id
          type: string
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - limit
      - prefix
      - by
    konfig-generated-schema-single-parameter-schema-get--channels-channel_id:
      properties:
        channel_id:
          type: string
      required:
      - channel_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel_id
    konfig-generated-schema-single-parameter-schema-get--channels-channel_id-messages:
      properties:
        channel_id:
          type: string
        start:
          type: string
        limit:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        end:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        direction:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
      required:
      - channel_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel_id
      - start
      - limit
      - end
      - direction
    konfig-generated-schema-single-parameter-schema-post--channels-channel_id-messages:
      properties:
        channel_id:
          type: string
        clientId:
          description: "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients)\
            \ of the publisher of this message."
          type: string
        connectionId:
          description: The connection ID of the publisher of this message.
          type: string
        data:
          description: "The string encoded payload, with the encoding specified below."
          type: string
        encoding:
          description: "This will typically be empty as all messages received from\
            \ Ably are automatically decoded client-side using this value. However,\
            \ if the message encoding cannot be processed, this attribute will contain\
            \ the remaining transformations not applied to the data payload."
          type: string
        extras:
          $ref: '#/components/schemas/Extras'
        id:
          description: "A Unique ID that can be specified by the publisher for [idempotent\
            \ publishing](https://www.ably.io/documentation/rest/messages#idempotent)."
          readOnly: true
          type: string
        name:
          description: "The event name, if provided."
          type: string
        timestamp:
          description: "Timestamp when the message was received by the Ably, as milliseconds\
            \ since the epoch."
          format: int64
          readOnly: true
          type: integer
      required:
      - channel_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel_id
    konfig-generated-schema-single-parameter-schema-get--channels-channel_id-presence:
      properties:
        channel_id:
          type: string
        clientId:
          type: string
        connectionId:
          type: string
        limit:
          default: 100
          example: 100
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--channels-channel_id-presence-get-parameters-3-schema
      required:
      - channel_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel_id
      - clientId
      - connectionId
      - limit
    konfig-generated-schema-single-parameter-schema-get--channels-channel_id-presence-history:
      properties:
        channel_id:
          type: string
        start:
          type: string
        limit:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        end:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        direction:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
      required:
      - channel_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel_id
      - start
      - limit
      - end
      - direction
    konfig-generated-schema-single-parameter-schema-delete--push-channelSubscriptions:
      properties:
        channel:
          type: string
        deviceId:
          type: string
        clientId:
          type: string
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel
      - deviceId
      - clientId
    konfig-generated-schema-single-parameter-schema-get--push-channelSubscriptions:
      properties:
        channel:
          type: string
        deviceId:
          type: string
        clientId:
          type: string
        limit:
          default: 100
          example: 100
          maximum: 1000
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--push-channelSubscriptions-get-parameters-3-schema
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - channel
      - deviceId
      - clientId
      - limit
    konfig-generated-schema-single-parameter-schema-post--push-channelSubscriptions:
      properties:
        channel:
          description: Channel name.
          type: string
        deviceId:
          description: "Must be set when clientId is empty, cannot be used with clientId."
          type: string
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    konfig-generated-schema-single-parameter-schema-get--push-channels:
      properties: {}
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    konfig-generated-schema-single-parameter-schema-delete--push-deviceRegistrations:
      properties:
        deviceId:
          type: string
        clientId:
          type: string
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - deviceId
      - clientId
    konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations:
      properties:
        deviceId:
          type: string
        clientId:
          type: string
        limit:
          default: 100
          example: 100
          maximum: 1000
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--push-deviceRegistrations-get-parameters-2-schema
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - deviceId
      - clientId
      - limit
    konfig-generated-schema-single-parameter-schema-post--push-deviceRegistrations:
      properties:
        clientId:
          description: Optional trusted client identifier for the device.
          type: string
        deviceSecret:
          description: Secret value for the device.
          type: string
        formFactor:
          description: Form factor of the push device.
          enum:
          - phone
          - tablet
          - desktop
          - tv
          - watch
          - car
          - embedded
          type: string
        id:
          description: Unique identifier for the device generated by the device itself.
          type: string
        metadata:
          description: Optional metadata object for this device. The metadata for
            a device may only be set by clients with push-admin privileges and will
            be used more extensively in the future with smart notifications.
          type: object
        platform:
          description: Platform of the push device.
          enum:
          - ios
          - android
          type: string
        push.recipient:
          $ref: '#/components/schemas/Recipient'
        push.state:
          description: the current state of the push device.
          enum:
          - Active
          - Failing
          - Failed
          readOnly: true
          type: string
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    konfig-generated-schema-single-parameter-schema-delete--push-deviceRegistrations-device_id:
      properties:
        device_id:
          type: string
      required:
      - device_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - device_id
    konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations-device_id:
      properties:
        device_id:
          type: string
      required:
      - device_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - device_id
    konfig-generated-schema-single-parameter-schema-patch--push-deviceRegistrations-device_id:
      properties:
        device_id:
          type: string
        clientId:
          description: Optional trusted client identifier for the device.
          type: string
        deviceSecret:
          description: Secret value for the device.
          type: string
        formFactor:
          description: Form factor of the push device.
          enum:
          - phone
          - tablet
          - desktop
          - tv
          - watch
          - car
          - embedded
          type: string
        id:
          description: Unique identifier for the device generated by the device itself.
          type: string
        metadata:
          description: Optional metadata object for this device. The metadata for
            a device may only be set by clients with push-admin privileges and will
            be used more extensively in the future with smart notifications.
          type: object
        platform:
          description: Platform of the push device.
          enum:
          - ios
          - android
          type: string
        push.recipient:
          $ref: '#/components/schemas/Recipient'
        push.state:
          description: the current state of the push device.
          enum:
          - Active
          - Failing
          - Failed
          readOnly: true
          type: string
      required:
      - device_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - device_id
    konfig-generated-schema-single-parameter-schema-put--push-deviceRegistrations-device_id:
      properties:
        device_id:
          type: string
        clientId:
          description: Optional trusted client identifier for the device.
          type: string
        deviceSecret:
          description: Secret value for the device.
          type: string
        formFactor:
          description: Form factor of the push device.
          enum:
          - phone
          - tablet
          - desktop
          - tv
          - watch
          - car
          - embedded
          type: string
        id:
          description: Unique identifier for the device generated by the device itself.
          type: string
        metadata:
          description: Optional metadata object for this device. The metadata for
            a device may only be set by clients with push-admin privileges and will
            be used more extensively in the future with smart notifications.
          type: object
        platform:
          description: Platform of the push device.
          enum:
          - ios
          - android
          type: string
        push.recipient:
          $ref: '#/components/schemas/Recipient'
        push.state:
          description: the current state of the push device.
          enum:
          - Active
          - Failing
          - Failed
          readOnly: true
          type: string
      required:
      - device_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - device_id
    konfig-generated-schema-single-parameter-schema-get--push-deviceRegistrations-device_id-resetUpdateToken:
      properties:
        device_id:
          type: string
      required:
      - device_id
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - device_id
    konfig-generated-schema-single-parameter-schema-post--push-publish:
      properties:
        push:
          $ref: '#/components/schemas/Push'
        recipient:
          $ref: '#/components/schemas/Recipient'
      required:
      - recipient
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    konfig-generated-schema-single-parameter-schema-get--stats:
      properties:
        start:
          type: string
        limit:
          example: 100
          type: integer
          x-konfig-original-example: "100"
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterLimit-schema
        end:
          default: now
          example: now
          type: string
          x-konfig-original-example: now
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterEnd-schema
        direction:
          default: backwards
          enum:
          - forwards
          - backwards
          example: backwards
          type: string
          x-konfig-original-example: backwards
          x-konfig-generated-schema: konfig-generated-schema-components-parameters-filterDirection-schema
        unit:
          default: minute
          enum:
          - minute
          - hour
          - day
          - month
          example: minute
          type: string
          x-konfig-original-example: minute
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-get-parameters-4-schema
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter:
      - start
      - limit
      - end
      - direction
      - unit
    konfig-generated-schema-single-parameter-schema-get--time:
      properties: {}
      type: object
      x-do-not-generate: true
      x-konfig-is-parameter: []
    publishMessagesToChannel_2XX_response:
      example:
        channel: channel
        messageId: messageId
      properties:
        channel:
          type: string
        messageId:
          type: string
      type: object
      x-konfig-is-used-in-non-successful-response: true
      x-do-not-generate: true
    publishPushNotificationToDevices_request:
      properties:
        push:
          $ref: '#/components/schemas/Push'
        recipient:
          $ref: '#/components/schemas/Recipient'
      required:
      - recipient
      type: object
    Push_apns:
      description: "Extends and overrides generic values when delivering via APNs.\
        \ [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)"
      example:
[...]
